.btn-add-to-cart-size {
  min-width: 250px;
  min-height: 50px;
}

.product-details-big-img {
  width: 239px;
  height: 327px;
}

.btn-add-specification-tab {
  min-width: 350px;
  min-height: 40px;
}

.variants-sm-col-price:hover {
  background-color: #d3e7c7 !important;
  /* Light green background */
  cursor: pointer;
}




/* user login page */
.breadcrumb-section {
  background-color: #f8f9fa;
}

.product-details-breadcrumb {
  position: relative;
  text-align: center;
  color: white;
}

.breadcrumb-title {
  font-size: 26px;
  font-weight: bold;
}

.breadcrumb-description {
  color: white;
  font-size: 16px;
}

.custom-box {
  position: relative;
  background-color: white;
  border-radius: 0 0 50px 50px;
}

.custom-box::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: -1;
}




/* login */
.img-circle {
  width: 150px;
  /* Adjust as per your requirement */
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  /* Ensures the image doesn't stretch */
}